body {
  background-image: url("Images/ResBG.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%; }

#MainPageContent_CalendarExtender1_popupDiv {
  display: flex;
  flex-direction: column; }

