body {
    background-image: url("Images/PatientBG.jpg"); background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    form{
        background-color: rgba(246, 236, 236, 0.2);
    }
}
